@import "tailwindcss";

:root {
  --color-term-bg: #0d0d0d; /* Deep Black/Grey */
  --color-term-surface: #1a1a1a; /* Slightly lighter for cards */
  --color-term-primary: #ffd700; /* Gold */
  --color-term-secondary: #007bff; /* Electric Blue (accent) */
  --color-term-text: #f3f4f6;
  --color-term-text-muted: #9ca3af;

  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

@theme {
  --font-display: var(--font-heading);
  --font-body: var(--font-body);

  --color-background: var(--color-term-bg);
  --color-surface: var(--color-term-surface);
  --color-primary: var(--color-term-primary);
  --color-secondary: var(--color-term-secondary);
  --color-text: var(--color-term-text);
  --color-text-muted: var(--color-term-text-muted);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
